##### PROYECTO PARTNERDHIPFINDER

##### ETL dataset team_details.csv

##### Importamos Pandas y Numpy a nuestro codigo

In [1]:
import pandas as pd
import numpy as np

##### Asignamos la ruta del archivo team_details.csv a la variable data_team_details

In [2]:
data_team_details = 'team_details.csv'

##### Utilizamos pd.read_csv para leer el archivo team_details.csv y asignar el contenido del mismo  a un objeto de pandas

In [3]:
data = pd.read_csv('team_details.csv')

##### Mostramos las 5 primeras filas del archivo

In [4]:
data.head()

,team_id,abbreviation,nickname,yearfounded,city,arena,arenacapacity,owner,generalmanager,headcoach,dleagueaffiliation,facebook,instagram,twitter
0,1610612737,ATL,Hawks,1949.0,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Quin Snyder,College Park Skyhawks,https://www.facebook.com/hawks,https://instagram.com/atlhawks,https://twitter.com/ATLHawks
1,1610612741,CHI,Bulls,1966.0,Chicago,United Center,21711.0,Michael Reinsdorf,Arturas Karnisovas,Billy Donovan,Windy City Bulls,https://www.facebook.com/chicagobulls,https://instagram.com/chicagobulls,https://twitter.com/chicagobulls
2,1610612742,DAL,Mavericks,1980.0,Dallas,American Airlines Center,19200.0,Mark Cuban,Nico Harrison,Jason Kidd,Texas Legends,https://www.facebook.com/dallasmavs,https://instagram.com/dallasmavs,https://twitter.com/dallasmavs
3,1610612743,DEN,Nuggets,1976.0,Denver,Ball Arena,NaN,Stan Kroenke,Calvin Booth,Michael Malone,Grand Rapids Gold,https://www.facebook.com/DenverNuggets,https://instagram.com/nuggets,https://twitter.com/nuggets
4,1610612744,GSW,Warriors,1946.0,Golden State,Chase Center,NaN,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors,https://www.facebook.com/warriors,https://instagram.com/warriors,https://twitter.com/warriors

##### Confirmamos el tama√±o del dataset

In [5]:
data.shape

(25, 14)

##### Filtramos los datos utilizando .value.com sobre la columna 'nickname' para ver que equipos aparecen en el dataset

In [6]:
data.value_counts('nickname')

nickname
76ers            1
Bucks            1
Bulls            1
Clippers         1
Grizzlies        1
Hawks            1
Heat             1
Hornets          1
Jazz             1
Kings            1
Lakers           1
Mavericks        1
Nets             1
Nuggets          1
Pacers           1
Pistons          1
Raptors          1
Rockets          1
Spurs            1
Suns             1
Thunder          1
Timberwolves     1
Trail Blazers    1
Warriors         1
Wizards          1
Name: count, dtype: int64

##### Utilizamos .isnull().sum() para obtener el total de valores nulos por columna en el dataset

In [7]:
data.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         9
owner                 0
generalmanager        0
headcoach             1
dleagueaffiliation    0
facebook              0
instagram             0
twitter               0
dtype: int64

##### Se obtuvieron 9 valores nulos en la columna arenacapacity, los mismos seran completados con la media. Primero calculamos el valor de la media de la columna 'arenacapacity' y redondeamos el valor

In [23]:
mean_arenacapacity = round(data['arenacapacity'].mean())

##### Asignar el resultado de fillna de nuevo a la columna

In [24]:
data['arenacapacity'] = data['arenacapacity'].fillna(mean_arenacapacity)

##### Filtramos de nuevo con .isnull().sum() para confirmar que ya no aparecen los valores nulos

In [25]:
data.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         0
owner                 0
generalmanager        0
headcoach             0
dleagueaffiliation    0
dtype: int64

##### Para eliminar el valor nulo que aparece en la columna heaqdcoach, vamos a sustituirlo por 'sin entrenador' usando el metodo .fillna

In [26]:
data['headcoach'] = data['headcoach'].fillna('sin entrenador')

##### chequeamos nuevamente con .isnull().sum() para confirmar que ya no aparece el valor nulo

In [27]:
data.isnull().sum()

team_id               0
abbreviation          0
nickname              0
yearfounded           0
city                  0
arena                 0
arenacapacity         0
owner                 0
generalmanager        0
headcoach             0
dleagueaffiliation    0
dtype: int64

In [28]:
print(data)

       team_id abbreviation       nickname  yearfounded           city  \
0   1610612737          ATL          Hawks       1949.0        Atlanta
1   1610612741          CHI          Bulls       1966.0        Chicago
2   1610612742          DAL      Mavericks       1980.0         Dallas
3   1610612743          DEN        Nuggets       1976.0         Denver
4   1610612744          GSW       Warriors       1946.0   Golden State
5   1610612745          HOU        Rockets       1967.0        Houston
6   1610612746          LAC       Clippers       1970.0    Los Angeles
7   1610612747          LAL         Lakers       1948.0    Los Angeles
8   1610612748          MIA           Heat       1988.0          Miami
9   1610612749          MIL          Bucks       1968.0      Milwaukee
10  1610612750          MIN   Timberwolves       1989.0      Minnesota
11  1610612751          BKN           Nets       1976.0       Brooklyn
12  1610612754          IND         Pacers       1976.0        Indiana
13  1610612755          PHI          76ers       1949.0   Philadelphia
14  1610612756          PHX           Suns       1968.0        Phoenix
15  1610612757          POR  Trail Blazers       1970.0       Portland
16  1610612758          SAC          Kings       1948.0     Sacramento
17  1610612759          SAS          Spurs       1976.0    San Antonio
18  1610612760          OKC        Thunder       1967.0  Oklahoma City
19  1610612761          TOR        Raptors       1995.0        Toronto
20  1610612762          UTA           Jazz       1974.0           Utah
21  1610612763          MEM      Grizzlies       1995.0        Memphis
22  1610612764          WAS        Wizards       1961.0     Washington
23  1610612765          DET        Pistons       1948.0        Detroit
24  1610612766          CHA        Hornets       1988.0      Charlotte

                       arena  arenacapacity                          owner  \
0           State Farm Arena        18729.0                   Tony Ressler
1              United Center        21711.0              Michael Reinsdorf
2   American Airlines Center        19200.0                     Mark Cuban
3                 Ball Arena        19039.0                   Stan Kroenke
4               Chase Center        19039.0                      Joe Lacob
5              Toyota Center        18104.0                Tilman Fertitta
6           Crypto.com Arena        19060.0                  Steve Ballmer
7           Crypto.com Arena        19060.0                    Jeanie Buss
8              Kaseya Center        19600.0                   Micky Arison
9               Fiserv Forum        17500.0      Wesley Edens &¬†Marc Lasry
10             Target Center        19356.0                    Glen Taylor
11           Barclays Center        19039.0                       Joe Tsai
12    Gainbridge Fieldhouse         18345.0                     Herb Simon
13        Wells Fargo Center        19039.0  Joshua Harris & David Blitzer
14          Footprint Center        19039.0                     Mat Ishbia
15               Moda Center        19980.0                     Jody Allen
16           Golden 1 Center        17500.0                 Vivek Ranadive
17               AT&T Center        18694.0                     Peter Holt
18             Paycom Center        19039.0                   Clay Bennett
19          Scotiabank Arena        19039.0             Lawrence Tanenbaum
20              Delta Center        19039.0                     Ryan Smith
21                FedExForum        18119.0                    Robert Pera
22         Capital One Arena        20647.0                    Ted Leonsis
23      Little Caesars Arena        19039.0                      Tom Gores
24           Spectrum Center        19026.0                 Michael Jordan

        generalmanager         headcoach                 dleagueaffiliation
0       Travis Schlenk       Quin Snyder              College Park Skyhawks
1   Arturas Karnisovas     Billy Donovan                   Windy City Bulls
2        Nico Harrison        Jason Kidd                      Texas Legends
3         Calvin Booth    Michael Malone                  Grand Rapids Gold
4            Bob Myers        Steve Kerr                Santa Cruz Warriors
5         Rafael Stone         Ime Udoka           Rio Grande Valley Vipers
6       Michael Winger        Tyronn Lue  Agua Caliente Clippers of Ontario
7          Rob Pelinka        Darvin Ham                   South Bay Lakers
8            Pat Riley    Erik Spoelstra               Sioux Falls Skyforce
9            Jon Horst    Adrian Griffin                     Wisconsin Herd
10        Tim Connelly       Chris Finch                        Iowa Wolves
11          Sean Marks     Jacque Vaughn                   Long Island Nets
12     Kevin Pritchard     Rick Carlisle                Fort Wayne Mad Ants
13         Elton Brand        Nick Nurse                Delaware Blue Coats
14         James Jones       Frank Vogel                       No Affiliate
15          Joe Cronin  Chauncey Billups                       No Affiliate
16        Monte McNair        Mike Brown                     Stockton Kings
17        Brian Wright    Gregg Popovich                       Austin Spurs
18          Sam Presti   Mark Daigneault                 Oklahoma City Blue
19         Masai Ujiri    sin entrenador                        Raptors 905
20        Justin Zanik        Will Hardy               Salt Lake City Stars
21        Zach Kleiman    Taylor Jenkins                     Memphis Hustle
22      Tommy Sheppard        Wes Unseld                 Capital City Go-Go
23        Ed Stefanski    Monty Williams                  Motor City Cruise
24       Mitch Kupchak    Steve Clifford                   Greensboro Swarm

##### Almaceno mi nuevo dataframe  en una nueva variable llamada archivo_data_details_Final

In [32]:
data.to_csv('archivo_data_details_Final.csv', index=False)

##### Almaceno mi dataset ya filtrado en una nueva variable llamada archivo_data_details

In [33]:
archivo_data_details=pd.read_csv('archivo_data_details_Final.csv')